.box {
  width: 200px;
  height: 200px;
  background-color: #ab47ed;
  color: rgba(230, 205, 16, 0.8);
}

.box2 {
  width: 200px;
  height: 200px;
  background-color: rgba(230, 205, 16, 0.2);
}

.box3 {
  width: 500px;
  height: 500px;
  background: linear-gradient(dodgerblue, yellow);
}

.box4 {
  width: 500px;
  height: 500px;
  background: linear-gradient(to bottom right, dodgerblue, red);
}

.box5 {
  width: 500px;
  height: 500px;
  background: linear-gradient(45deg, dodgerblue, orange);
}

.box6 {
  width: 500px;
  height: 500px;
  background: linear-gradient(45deg, dodgerblue, orange, pink 73%);
}

.box7 {
  width: 500px;
  height: 500px;
  background: radial-gradient(dodgerblue, yellow);
}

.box8 {
  width: 700px;
  height: 200px;
  background: radial-gradient(dodgerblue, red);
}

.box9 {
  width: 700px;
  height: 100px;
  background: radial-gradient(circle at top left, dodgerblue, green);
}
