body {
  margin: 10px;
}

h1 {
  color: dodgerblue;
}

.highlight {
  color: lightpink;
}

#products {
  color: lightgreen;
}

#products {
  color: brown;
}

.highlight#products {
  color: red;
}

.dodger {
  color: dodgerblue;
  border: 1px solid black;
}

strong {
  color: initial;
  border: inherit;
}
